{% extends "layout.html" %}

{% block pageTitle %}
  Do you currently smoke a pipe - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/prototype_v3/tobacco/pipe/do-you-currently-smoke-answer" method="post">

        {{ radios({
          idPrefix: "currentlySmokesPipe",
          name: "currentlySmokesPipe",
          value: data.currentlySmokesPipe,
          fieldset: {
            legend: {
              text: "Do you currently smoke a pipe?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
