{% extends "layout.html" %}
{% from 'checkboxes/macro.njk' import checkboxes %}
{% block pageTitle %}
  Has the number of cigarettes you normally smoke changed over time? - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigarettes/current/has-quantity-changed-answer" method="post">

        {% set frequencyText = "a day" %}
        {% if data.cigarettesCurrentFrequency == "Weekly" %}
          {% set frequencyText = "a week" %}
        {% elif data.cigarettesCurrentFrequency == "Monthly" %}
          {% set frequencyText = "a month" %}
        {% endif %}

        {{ checkboxes({
          idPrefix: "cigarettesCurrentChanges",
          name: "cigarettesCurrentChanges",
          fieldset: {
            legend: {
              text: "Has the number of cigarettes you normally smoke changed over time?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "more",
              text: "Yes, I used to smoke more than " + data.cigarettesCurrentQuantity + " cigarettes " + frequencyText
            },
            {
              value: "less",
              text: "Yes, I used to smoke fewer than " + data.cigarettesCurrentQuantity + " cigarettes " + frequencyText
            },
            {
              divider: "or"
            },
            {
              value: "no-change",
              text: "No, it has not changed",
              behaviour: "exclusive"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}
