{% extends "layout.html" %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Cigarette smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/prototype_v3/tobacco/cigarettes/current/less-quantity-answer" method="post">

        {% set baseFrequencyText = "a day" %}
        {% if data.cigarettesCurrentFrequency == "Weekly" %}
          {% set baseFrequencyText = "a week" %}
        {% elif data.cigarettesCurrentFrequency == "Monthly" %}
          {% set baseFrequencyText = "a month" %}
        {% endif %}

        {% set lessFrequencyText = "a day" %}
        {% if data.cigarettesCurrentLessFrequency == "Weekly" %}
          {% set lessFrequencyText = "a week" %}
        {% elif data.cigarettesCurrentLessFrequency == "Monthly" %}
          {% set lessFrequencyText = "a month" %}
        {% endif %}

        <h2 class="nhsuk-heading-l">When you smoked fewer than {{ data.cigarettesCurrentQuantity }} cigarettes {{ baseFrequencyText }}, roughly how many cigarettes did you normally smoke {{ lessFrequencyText }}?</h2>

        <p class="nhsuk-hint">Give an estimate if you are not sure</p>

        {{ input({
          label: {
            text: "Cigarettes",
            classes: "nhsuk-u-visually-hidden"
          },
          id: "cigarettesCurrentLessQuantity",
          name: "cigarettesCurrentLessQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "cigarettes"
          },
          value: data.cigarettesCurrentLessQuantity
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
