{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Cigarette smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigarettes/current/more-quantity-answer" method="post">

        {% set baseFrequencyText = "a day" %}
        {% if data.cigarettesCurrentFrequency == "Weekly" %}
          {% set baseFrequencyText = "a week" %}
        {% elif data.cigarettesCurrentFrequency == "Monthly" %}
          {% set baseFrequencyText = "a month" %}
        {% endif %}

        {% set moreFrequencyText = "a day" %}
        {% if data.cigarettesCurrentMoreFrequency == "Weekly" %}
          {% set moreFrequencyText = "a week" %}
        {% elif data.cigarettesCurrentMoreFrequency == "Monthly" %}
          {% set moreFrequencyText = "a month" %}
        {% endif %}

        <h2 class="nhsuk-heading-l">When you smoked more than {{ data.cigarettesCurrentQuantity }} cigarettes {{ baseFrequencyText }}, roughly how many cigarettes did you smoke {{ moreFrequencyText }}?</h2>

        <p class="nhsuk-hint">Give an estimate if you are not sure</p>

        {{ input({
          label: {
            text: "Cigarettes",
            classes: "nhsuk-u-visually-hidden"
          },
          id: "cigarettesCurrentMoreQuantity",
          name: "cigarettesCurrentMoreQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "cigarettes"
          },
          value: data.cigarettesCurrentMoreQuantity
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}