{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Cigarette smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigarettes/current/quantity-answer" method="post">

<h1 class="nhsuk-heading-l">Cigarette smoking</h1>

        {% set frequencyText = "a day" %}
        {% if data.cigarettesCurrentFrequency == "Weekly" %}
          {% set frequencyText = "a week" %}
        {% elif data.cigarettesCurrentFrequency == "Monthly" %}
          {% set frequencyText = "a month" %}
        {% elif data.cigarettesCurrentFrequency == "Yearly" %}
          {% set frequencyText = "a year" %}
        {% endif %}

        {% set frequencyTextInNormal = "in a normal day" %}
        {% if data.cigarettesCurrentFrequency == "Weekly" %}
          {% set frequencyTextInNormal = "in a normal week" %}
        {% elif data.cigarettesCurrentFrequency == "Monthly" %}
          {% set frequencyTextInNormal = "in a normal month" %}
        {% elif data.cigarettesCurrentFrequency == "Yearly" %}
          {% set frequencyTextInNormal = "in a normal year" %}
        {% endif %}


<p class="nhsuk-body">The question on the next page will ask if the number of cigarettes you smoke has changed over time.</p>

        {{ input({
          label: {
            text: "Roughly how many cigarettes do you currently smoke " + frequencyTextInNormal + "?",
            classes: "nhsuk-label--m"
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "cigarettesCurrentQuantity",
          name: "cigarettesCurrentQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "cigarettes"
          },
          value: data.cigarettesCurrentQuantity,
          errorMessage: {
            text: "The number of cigarettes smoked must be at least 1"
          } if data['cigarettesCurrentQuantity-error']
        }) }}

        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}
