{% extends "layout.html" %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Cigarette smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigarettes/current/years-smoked-answer" method="post">

        {{ input({
          label: {
            text: "Roughly how many years have you smoked cigarettes?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "cigarettesCurrentYearsSmoked",
          name: "cigarettesCurrentYearsSmoked",
          classes: "nhsuk-input--width-2",
          suffix: {
            text: "years"
          },
          value: data.cigarettesCurrentYearsSmoked
        }) }}

        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}
