{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}

{% if data.shishaFormerGroupFrequency == "Daily" %}
  {% set frequencyText = "a day" %}
  {% set suffixText = "sessions" %}
{% elif data.shishaFormerGroupFrequency == "Weekly" %}
  {% set frequencyText = "a week" %}
  {% set suffixText = "sessions" %}
{% elif data.shishaFormerGroupFrequency == "Monthly" %}
  {% set frequencyText = "a month" %}
  {% set suffixText = "sessions" %}
{% elif data.shishaFormerGroupFrequency == "Yearly" %}
  {% set frequencyText = "a year" %}
  {% set suffixText = "sessions" %}
{% endif %}

{% block pageTitle %}
  Shisha smoking in a group - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/shisha/former/group-quantity-answer" method="post">
        
        {{ input({
          label: {
            text: "When you smoked shisha in a group, roughly how many sessions did you normally have " + frequencyText + "?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "shishaFormerGroupQuantity",
          name: "shishaFormerGroupQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: suffixText
          },
          value: data.shishaFormerGroupQuantity
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}