{% extends "layout.html" %}
{% from 'input/macro.njk' import input %}

{% if data.shishaFormerGroupFrequency == "Daily" %}
  {% set frequencyText = "day" %}
{% elif data.shishaFormerGroupFrequency == "Weekly" %}
  {% set frequencyText = "week" %}
{% elif data.shishaFormerGroupFrequency == "Monthly" %}
  {% set frequencyText = "month" %}
{% elif data.shishaFormerGroupFrequency == "Yearly" %}
  {% set frequencyText = "year" %}
{% endif %}

{% block pageTitle %}
  Shisha smoking in a group - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/prototype_v3/tobacco/shisha/former/group-quantity-answer" method="post">

        {{ input({
          label: {
            text: "Roughly, how many hours a " + frequencyText + " did you normally smoke shisha for in a group?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "shishaFormerGroupQuantity",
          name: "shishaFormerGroupQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "hours"
          },
          value: data.shishaFormerGroupQuantity
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
