{% extends 'layout.html' %}

{% block pageTitle %}
  How often did you smoke shisha in a group - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="/prototype_v3/tobacco/shisha/former/group-frequency-answer" method="post">
      
      {{ radios({
        idPrefix: "shishaFormerGroupFrequency",
        name: "shishaFormerGroupFrequency",
        fieldset: {
          legend: {
            text: "How often did you smoke shisha in a group?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "Daily",
            text: "Daily",
            checked: checked("shishaFormerGroupFrequency", "Daily")
          },
          {
            value: "Weekly",
            text: "Weekly",
            hint: {
              text: "For example, on the weekend"
            },
            checked: checked("shishaFormerGroupFrequency", "Weekly")
          },
          {
            value: "Monthly",
            text: "Monthly",
            checked: checked("shishaFormerGroupFrequency", "Monthly")
          },
          {
            value: "Yearly",
            text: "Yearly",
            checked: checked("shishaFormerGroupFrequency", "Yearly")
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}