{% extends "layout.html" %}
{% from 'checkboxes/macro.njk' import checkboxes %}
{% block pageTitle %}
  Shisha smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Smoking shisha in a group or by yourself</h1>


      <p class="nhsuk-body">If you smoked by yourself you are likely to have smoked more tobacco than if you shared a pipe in a group session.</p>

      <form action="/prototype_v3/tobacco/shisha/former/group-or-alone-answer" method="post">

        {{ checkboxes({
          idPrefix: "shishaFormerGroupOrAlone",
          name: "shishaFormerGroupOrAlone",
          fieldset: {
            legend: {
              text: "Did you smoke shisha with other people in a group or by yourself?",
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          values: data.shishaFormerGroupOrAlone,
          items: [
            {
              value: "Group",
              text: "In a group session"
            },
            {
              value: "Alone",
              text: "By myself"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
