{% extends 'layout.html' %}
{% from 'radios/macro.njk' import radios %}
{% block pageTitle %}
  Pipe smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/pipe/current/less-frequency-answer" method="post">

        {% set frequencyText = "a day" %}
        {% if data.pipeCurrentFrequency == "Weekly" %}
          {% set frequencyText = "a week" %}
        {% elif data.pipeCurrentFrequency == "Monthly" %}
          {% set frequencyText = "a month" %}
        {% endif %}

        <h2 class="nhsuk-heading-l">When you smoked less than {{ data.pipeCurrentQuantity }} bowls {{ frequencyText }}, how often did you smoke a pipe?</h2>

        {{ radios({
          idPrefix: "pipeCurrentLessFrequency",
          name: "pipeCurrentLessFrequency",
          items: [
            {
              value: "Daily",
              text: "Daily",
              checked: checked("pipeCurrentLessFrequency", "Daily")
            },
            {
              value: "Weekly",
              text: "Weekly",
              hint: {
                text: "For example on the weekend"
              },
              checked: checked("pipeCurrentLessFrequency", "Weekly")
            },
            {
              value: "Monthly",
              text: "Monthly",
              checked: checked("pipeCurrentLessFrequency", "Monthly")
            }
          ]
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}