{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}

{% if data.pipeCurrentMoreFrequency == "Daily" %}
  {% set frequencyText = "a day" %}
  {% set suffixText = "bowls" %}
{% elif data.pipeCurrentMoreFrequency == "Weekly" %}
  {% set frequencyText = "a week" %}
  {% set suffixText = "bowls" %}
{% elif data.pipeCurrentMoreFrequency == "Monthly" %}
  {% set frequencyText = "a month" %}
  {% set suffixText = "bowls" %}
{% endif %}

{% block pageTitle %}
  When you smoked more pipe tobacco - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/pipe/current/more-quantity-answer" method="post">
        
        {{ input({
          label: {
            text: "When you smoked more than " + data.pipeCurrentQuantityDaily + " bowls a day, roughly how many bowls did you normally smoke " + frequencyText + "?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "pipeCurrentMoreQuantity",
          name: "pipeCurrentMoreQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: suffixText
          },
          value: data.pipeCurrentMoreQuantity
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}