{% extends 'layout.html' %}

{% block pageTitle %}
  When you smoked more pipe - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="/prototype_v3/tobacco/pipe/current/more-frequency-answer" method="post">
      
      {{ radios({
        idPrefix: "pipeCurrentMoreFrequency",
        name: "pipeCurrentMoreFrequency",
        fieldset: {
          legend: {
            text: "When you smoked more than you do now, how often did you smoke a pipe?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "Daily",
            text: "Daily",
            checked: checked("pipeCurrentMoreFrequency", "Daily")
          },
          {
            value: "Weekly",
            text: "Weekly",
            hint: {
              text: "For example, on the weekend"
            },
            checked: checked("pipeCurrentMoreFrequency", "Weekly")
          },
          {
            value: "Monthly",
            text: "Monthly",
            checked: checked("pipeCurrentMoreFrequency", "Monthly")
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}