{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Pipe smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/pipe/current/quantity-answer" method="post">

<h1>Pipe smoking</h1>

        {% set frequencyText = "a day" %}
        {% if data.pipeCurrentFrequency == "Weekly" %}
          {% set frequencyText = "a week" %}
        {% elif data.pipeCurrentFrequency == "Monthly" %}
          {% set frequencyText = "a month" %}
        {% elif data.pipeCurrentFrequency == "Yearly" %}
          {% set frequencyText = "a year" %}
        {% endif %}

        {% set frequencyTextInNormal = "in a normal day" %}
        {% if data.pipeCurrentFrequency == "Weekly" %}
          {% set frequencyTextInNormal = "in a normal week" %}
        {% elif data.pipeCurrentFrequency == "Monthly" %}
          {% set frequencyTextInNormal = "in a normal month" %}
        {% elif data.pipeCurrentFrequency == "Yearly" %}
          {% set frequencyTextInNormal = "in a normal year" %}
        {% endif %}


<p>The question on the next page will ask if the number of full pipe loads you smoke has changed over time.</p>

        {{ input({
          label: {
            text: "Roughly how many full pipe loads do you currently smoke " + frequencyTextInNormal + "?",
            classes: "nhsuk-label--m"
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "pipeCurrentQuantity",
          name: "pipeCurrentQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "full pipe loads"
          },
          value: data.pipeCurrentQuantity,
          errorMessage: {
            text: "The number of full pipe loads smoked must be at least 1"
          } if data['pipeCurrentQuantity-error']
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}