{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}

{% if data.cigarettesFormerLessFrequency == "Daily" %}
  {% set frequencyText = "a day" %}
  {% set suffixText = "cigarettes" %}
{% elif data.cigarettesFormerLessFrequency == "Weekly" %}
  {% set frequencyText = "a week" %}
  {% set suffixText = "cigarettes" %}
{% elif data.cigarettesFormerLessFrequency == "Monthly" %}
  {% set frequencyText = "a month" %}
  {% set suffixText = "cigarettes" %}
{% endif %}

{% block pageTitle %}
  When you smoked fewer cigarettes - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigarettes/former/less-quantity-answer" method="post">
        
        {{ input({
          label: {
            text: "When you smoked fewer than " + data.cigarettesFormerQuantityDaily + " cigarettes a day, roughly how many cigarettes did you normally smoke " + frequencyText + "?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "cigarettesFormerLessQuantity",
          name: "cigarettesFormerLessQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: suffixText
          },
          value: data.cigarettesFormerLessQuantity
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}