{% extends 'layout.html' %}

{% block pageTitle %}
  Do you currently smoke shisha - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="/prototype_v3/tobacco/shisha/do-you-currently-smoke-answer" method="post">
      
      {{ radios({
        idPrefix: "currentlySmokesShisha",
        name: "currentlySmokesShisha",
        value: data["currentlySmokesShisha"],
        fieldset: {
          legend: {
            text: "Do you currently smoke shisha?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}