{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Cigar smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigars/former/more-quantity-answer" method="post">

        {% set frequencyText = "a day" %}
        {% if data.cigarsFormerMoreFrequency == "Weekly" %}
          {% set frequencyText = "a week" %}
        {% elif data.cigarsFormerMoreFrequency == "Monthly" %}
          {% set frequencyText = "a month" %}
        {% elif data.cigarsFormerMoreFrequency == "Yearly" %}
          {% set frequencyText = "a year" %}
        {% endif %}

        {{ input({
          label: {
            text: "Roughly how many cigars did you normally smoke " + frequencyText + "?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "cigarsFormerMoreQuantity",
          name: "cigarsFormerMoreQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "cigars"
          },
          value: data.cigarsFormerMoreQuantity
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}