{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  How long did you stop smoking for - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigars/former/stopped-years-answer" method="post">
      
      {{ input({
        label: {
          text: "How long did you stop smoking cigars for?",
          classes: "nhsuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Give an estimate if you are not sure"
        },
        id: "cigarsFormerStoppedYears",
        name: "cigarsFormerStoppedYears",
        classes: "nhsuk-input--width-2",
        suffix: {
          text: "years"
        },
        value: data.cigarsFormerStoppedYears
      }) }}
      
      {{ button({
        text: "Continue"
      }) }}
</form>
</div>
</div>
{% endblock %}