{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}

{% if data.shishaCurrentAloneFrequency == "Daily" %}
  {% set frequencyText = "day" %}
{% elif data.shishaCurrentAloneFrequency == "Weekly" %}
  {% set frequencyText = "week" %}
{% elif data.shishaCurrentAloneFrequency == "Monthly" %}
  {% set frequencyText = "month" %}
{% elif data.shishaCurrentAloneFrequency == "Yearly" %}
  {% set frequencyText = "year" %}
{% endif %}

{% block pageTitle %}
  Shisha smoking alone - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/shisha/current/alone-quantity-answer" method="post">
        
        {{ input({
          label: {
            text: "Roughly, how many hours a " + frequencyText + " do you normally smoke shisha for by yourself?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "shishaCurrentAloneQuantity",
          name: "shishaCurrentAloneQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "hours"
          },
          value: data.shishaCurrentAloneQuantity
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}