{% extends 'layout.html' %}
{% from 'radios/macro.njk' import radios %}
{% block pageTitle %}
  Shisha smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/shisha/current/group-or-alone-answer" method="post">
        
        {{ radios({
          idPrefix: "shishaCurrentGroupOrAlone",
          name: "shishaCurrentGroupOrAlone",
          fieldset: {
            legend: {
              text: "Do you smoke shisha in a group, alone, or both?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          items: [
            {
              value: "Group",
              text: "In a group"
            },
            {
              value: "Alone",
              text: "Alone"
            },
            {
              value: "Both",
              text: "Both"
            }
          ]
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}