{% extends "layout.html" %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Rolling tobacco smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/rolling-tobacco/former/less-duration-answer" method="post">

        {% set frequencyText = "a day" %}
        {% if data.rollingTobaccoFormerLessFrequency == "Weekly" %}
          {% set frequencyText = "a week" %}
        {% elif data.rollingTobaccoFormerLessFrequency == "Monthly" %}
          {% set frequencyText = "a month" %}
        {% endif %}

        {{ input({
          label: {
            text: "Roughly how many years did you smoke " + data.rollingTobaccoFormerLessQuantity + " rolling tobacco " + frequencyText + "?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "rollingTobaccoFormerLessDuration",
          name: "rollingTobaccoFormerLessDuration",
          classes: "nhsuk-input--width-2",
          suffix: {
            text: "years"
          },
          value: data.rollingTobaccoFormerLessDuration
        }) }}

        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}
