{% extends 'layout.html' %}

{% block pageTitle %}
  Accessibility statement for NHS check if you need a lung scan - NHS
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">Accessibility statement for NHS check if you need a lung scan</h1>

    <p class="nhsuk-body">This statement was created in March 2026.</p>

    <p class="nhsuk-body">This accessibility statement applies to the website <a href="#">digital-lung-cancer-screening.nhs.uk</a></p>

    <p class="nhsuk-body">This website is run by NHS England. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>change colours, contrast levels and fonts using browser or device settings</li>
      <li>zoom in up to 400% without the text spilling off the screen</li>
      <li>navigate most of the website using a keyboard or speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>

    <p class="nhsuk-body">We've also made the website text as simple as possible to understand.</p>

    <p class="nhsuk-body"><a href="#">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

    <h2 class="nhsuk-heading-m">How accessible this website is</h2>

    <p class="nhsuk-body">We have used the NHS service standard and NHS design system to design and build this website which has been fully accessibility tested.</p>

    <p class="nhsuk-body">Due to the short-term nature of the test of the online service and the delivery schedule we were unable to test the accessibility of this website with people with access needs.</p>

    <p class="nhsuk-body">We have tested this website for accessibility issues with automated tools and through manual testing. We have a phone service for people who are unable to access this website.</p>

    <p class="nhsuk-body">If you are unable to test the online service, please call us on <a href="tel:02038351600">020 3835 1600</a></p>

    <p class="nhsuk-body">We know some parts of this website are not fully accessible:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>There are some issues with accessibility of the content of our service, relating to error handling, text and headings and text fields and labelling</li>
    </ul>

    <p class="nhsuk-body">Details of this can be found below in the 'Non-accessible content' section.</p>

    <h2 class="nhsuk-heading-m">Feedback and contact information</h2>

    <p class="nhsuk-body">If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact: <a href="mailto:england.digitallungcancerscreening@nhs.net">england.digitallungcancerscreening@nhs.net</a></p>

    <p class="nhsuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>email <a href="mailto:england.digitallungcancerscreening@nhs.net">england.digitallungcancerscreening@nhs.net</a></li>
    </ul>

    <p class="nhsuk-body">We'll consider your request and get back to you in 7-14 days.</p>

    <h2 class="nhsuk-heading-m">Enforcement procedure</h2>

    <p class="nhsuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <a href="#">contact the Equality Advisory and Support Service (EASS)</a>.</p>

    <h2 class="nhsuk-heading-m">Technical information about this website'2 accessibility</h3>

    <p class="nhsuk-body">NHS England is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h2 class="nhsuk-heading-m">Compliance status</h2>

    <p class="nhsuk-body">This website is partially compliant with the <a href="#">Web Content Accessibility Guidelines (WCAG) version 2.2</a> AA standard, due to the non-compliances listed below.</p>

    <h2 class="nhsuk-heading-m">Non-accessible content</h2>

    <p class="nhsuk-body">The content listed below is non-accessible for the following reasons.</p>

    <h4>Error handling</h4>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>There is no error summary at the top of the page if there are errors</li>
    </ul>

    <h4>Text and headings</h4>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Questions on pages are not marked as 'Heading level 2'</li>
    </ul>

    <h4>Text fields and labelling</h4>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Text entry fields are editable but not announced as editable for screenreader users</li>
    </ul>

    <h2 class="nhsuk-heading-m">What we're doing to improve accessibility2/h3>

    <p class="nhsuk-body">We have an alternate phone service that increases accessibility for all users. To access this service, please call <a href="tel:02038351600">020 3835 1600</a>.</p>

    <p class="nhsuk-body">We have published tools and guidance on accessibility in the NHS digital service manual based on extensive testing. The service manual helps our teams build products and services to meet the same accessibility standards.</p>

    <p class="nhsuk-body">At NHS England, creating an accessible service is a team effort. We want our teams to make accessible services by:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>considering accessibility at the start of their project, and throughout</li>
      <li>making accessibility the whole team's responsibility</li>
      <li>researching with disabled users</li>
      <li>using a library of accessible components and patterns</li>
      <li>carrying out regular accessibility audits and testing</li>
      <li>designing and building to level AA of WCAG 2.2 – which is NHS England policy</li>
    </ul>

    <p class="nhsuk-body">As part of this commitment, we have set up a cross-functional accessibility working group to make sure that accessibility remains at the core of everything we do.</p>

    <p class="nhsuk-body">We are making sure that accessibility issues highlighted in this statement are being prioritised and fixed. Measures include:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>ongoing improvements to the NHS design system with a focus on accessibility</li>
      <li>prioritising accessibility remedial work in all new development and improvement projects</li>
      <li>working with suppliers to improve the accessibility of their products</li>
    </ul>

    <h2 class="nhsuk-heading-m">Preparation of this accessibilit2 statement</h3>

    <p class="nhsuk-body">This statement was prepared on 19th March 2026.</p>

    <p class="nhsuk-body">This website was last tested on 17th March 2026 against the WCAG 2.2 AA standard by the product team of NHS check if you need a lung scan.</p>

    <p class="nhsuk-body">Content was selected to make sure a good representation of different pages, templates and components were tested as well as key content and user journeys.</p>

    <p class="nhsuk-body">This website's accessibility will be reviewed on a regular basis and this accessibility statement updated with any relevant changes.</p>

  </div>
</div>
{% endblock %}
