{% extends 'layout.html' %}

{% block pageTitle %}
  Agree to share your NHS login information - NHS
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Agree to share your NHS login information</h1>

      <p>To continue, you need to agree to share your NHS login information with <strong>NHS check if you need a lung scan</strong>.</p>

      <p><strong>NHS check if you need a lung scan</strong> will use your:</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>first names</li>
        <li>last name</li>
        <li>date of birth</li>
        <li>email address</li>
        <li>NHS number</li>
      </ul>

      <p>Read the terms of use and privacy policy for <strong>NHS check if you need a lung scan</strong> to check how your information will be used.</p>

      <p>If you do not agree to share this information you will not be able to use NHS login with <strong>NHS check if you need a lung scan</strong>.</p>

      <form action="/prototype_v3/agree-to-share-login-info" method="post">
        {{ button({
          "text": "I agree"
        }) }}
      </form>

      <p><a href="/prototype_v3/sorry-you-cannot-complete-the-online-service">I do not agree to share this information</a></p>

    </div>
  </div>
{% endblock %}
