{% extends 'layout.html' %}

{% set pageHeading = "Check your answers" %}
{% set buttonText = "Submit" %}

{% block beforeContent %}
{{ backLink({
href: "javascript:history.back();",
text: "Go back"
}) }}
{% endblock %}

{% block content %}

<style>
  .nhsuk-summary-list__row {
    border-bottom: 1px solid #d8dde0;
  }

  .nhsuk-summary-list__key,
  .nhsuk-summary-list__value,
  .nhsuk-summary-list__actions {
    border-bottom: none;
  }
</style>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">{{pageHeading}}</h1>
    <p>Check the information you have given us. If any of the details are wrong, you can change them.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Eligibility Section -->
    {% if data["smokedRegularly"] or data["dateOfBirth"] %}
    <h2 class="nhsuk-heading-m">Eligibility</h2>

    <dl class="nhsuk-summary-list">
      {% if data["smokedRegularly"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Have you ever smoked regularly</dt>
        <dd class="nhsuk-summary-list__value">
          {% if data["smokedRegularly"] == "Yes-currently" %}
          Yes, I currently smoke
          {% elif data["smokedRegularly"] == "Yes-usedToRegularly" %}
          Yes, I used to smoke regularly
          {% else %}
          {{ data["smokedRegularly"] }}
          {% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="eligibility-have-you-ever-smoked">Change<span class="nhsuk-u-visually-hidden"> smoking
              status</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["dateOfBirth"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Date of birth</dt>
        <dd class="nhsuk-summary-list__value">
          {% if data["dateOfBirth"]["day"] and data["dateOfBirth"]["month"] and data["dateOfBirth"]["year"] %}
          {{ data["dateOfBirth"]["day"] }}/{{ data["dateOfBirth"]["month"] }}/{{ data["dateOfBirth"]["year"] }}
          {% else %}
          {{ data["dateOfBirth"] }}
          {% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="eligibility-what-is-your-date-of-birth">Change<span class="nhsuk-u-visually-hidden"> date of
              birth</span></a>
        </dd>
      </div>
      {% endif %}
    </dl>
    {% endif %}

    <!-- About You Section -->
    <h2 class="nhsuk-heading-m">About you</h2>

    <dl class="nhsuk-summary-list">
      {% if data["height"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Height</dt>
        <dd class="nhsuk-summary-list__value">
          {% if data["height"]["feet"] and data["height"]["inches"] %}
          {{ data["height"]["feet"] }} feet {{ data["height"]["inches"] }} inches
          {% elif data["height"]["centimetres"] %}
          {{ data["height"]["centimetres"] }} cm
          {% else %}
          {{ data["height"] }} cm
          {% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="what-is-your-height">Change<span class="nhsuk-u-visually-hidden"> height</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["weight"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Weight</dt>
        <dd class="nhsuk-summary-list__value">
          {% if data["weight"]["stones"] and data["weight"]["pounds"] %}
          {{ data["weight"]["stones"] }} stones {{ data["weight"]["pounds"] }} pounds
          {% elif data["weight"]["kilograms"] %}
          {{ data["weight"]["kilograms"] }} kg
          {% else %}
          {{ data["weight"] }} kg
          {% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="what-is-your-weight">Change<span class="nhsuk-u-visually-hidden"> weight</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["whatIsYourSex"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Sex</dt>
        <dd class="nhsuk-summary-list__value">{{ data["whatIsYourSex"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="what-is-your-sex">Change<span class="nhsuk-u-visually-hidden"> sex</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["bestDescribe"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Gender identity</dt>
        <dd class="nhsuk-summary-list__value">{{ data["bestDescribe"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="which-best-describes-you">Change<span class="nhsuk-u-visually-hidden"> gender identity</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["ethnicBackground"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Ethnic background</dt>
        <dd class="nhsuk-summary-list__value">{{ data["ethnicBackground"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="what-is-your-ethnic-background">Change<span class="nhsuk-u-visually-hidden"> ethnic
              background</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["educationCompleted"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Highest level of education</dt>
        <dd class="nhsuk-summary-list__value">{{ data["educationCompleted"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="highest-level-completed-education">Change<span class="nhsuk-u-visually-hidden"> education
              level</span></a>
        </dd>
      </div>
      {% endif %}
    </dl>

    <!-- Your Health Section -->
    <h2 class="nhsuk-heading-m">Your health</h2>

    <dl class="nhsuk-summary-list">
      {% if data["EverDiagnosedWith"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Respiratory conditions</dt>
        <dd class="nhsuk-summary-list__value">
          {% if data["EverDiagnosedWith"] is iterable and data["EverDiagnosedWith"] is not string %}
          {{ data["EverDiagnosedWith"] | join(", ") }}
          {% else %}
          {{ data["EverDiagnosedWith"] }}
          {% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="diagnosed-pneumonia-emphysema">Change<span class="nhsuk-u-visually-hidden"> respiratory
              conditions</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["exposedAsbestos"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Worked in a job with asbestos exposure</dt>
        <dd class="nhsuk-summary-list__value">{{ data["exposedAsbestos"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="exposed-to-asbestos">Change<span class="nhsuk-u-visually-hidden"> asbestos exposure at
              work</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["livedWithAsbestosWorker"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Lived with anyone who worked with asbestos</dt>
        <dd class="nhsuk-summary-list__value">{{ data["livedWithAsbestosWorker"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="lived-with-asbestos-worker">Change<span class="nhsuk-u-visually-hidden"> lived with asbestos
              worker</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["diagnosedCancer"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cancer diagnosis</dt>
        <dd class="nhsuk-summary-list__value">{{ data["diagnosedCancer"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="diagnosed-with-cancer">Change<span class="nhsuk-u-visually-hidden"> cancer diagnosis</span></a>
        </dd>
      </div>
      {% endif %}
    </dl>

    <!-- Family History Section -->
    <h2 class="nhsuk-heading-m">Family history</h2>

    <dl class="nhsuk-summary-list">
      {% if data["relativesHaveCancer"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Relatives with cancer</dt>
        <dd class="nhsuk-summary-list__value">{{ data["relativesHaveCancer"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="relatives-with-cancer">Change<span class="nhsuk-u-visually-hidden"> relatives with cancer</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["relativesHaveCancer"] == "Yes" and data["relativeAge"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Were they under the age of 60 when diagnosed</dt>
        <dd class="nhsuk-summary-list__value">{{ data["relativeAge"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="relatives-age-when-diagnosed">Change<span class="nhsuk-u-visually-hidden"> relatives age at
              diagnosis</span></a>
        </dd>
      </div>
      {% endif %}
    </dl>

    <!-- Smoking Habits Section -->
    <h2 class="nhsuk-heading-m">Smoking habits</h2>

    <dl class="nhsuk-summary-list">
      {% if data["ageStartedSmoking"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Age started smoking</dt>
        <dd class="nhsuk-summary-list__value">{{ data["ageStartedSmoking"] }} years old</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="how-old-when-started-smoking">Change<span class="nhsuk-u-visually-hidden"> age started
              smoking</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["formerSmokingQuitDate"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">When you quit smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["formerSmokingQuitDate"]["month"] }}/{{ data["formerSmokingQuitDate"]["year"] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="former-smoker-when-quit-smoking">Change<span class="nhsuk-u-visually-hidden"> quit date</span></a>
        </dd>
      </div>
      {% endif %}

       <!-- Periods when stopped smoking -->
      {% if data["stoppedSmokingPeriods"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          {% if data["smokedRegularly"] == "Yes-currently" %}
          Ever stopped smoking for 1 year or longer
          {% else %}
          Stopped smoking for 1 year or longer before quitting
          {% endif %}
        </dt>
        <dd class="nhsuk-summary-list__value">{{ data["stoppedSmokingPeriods"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="periods-when-you-stopped-smoking">Change<span class="nhsuk-u-visually-hidden"> periods when stopped</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["stoppedSmokingPeriods"] == "Yes" and data["totalYearsStoppedSmoking"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Total years stopped smoking</dt>
        <dd class="nhsuk-summary-list__value">{{ data["totalYearsStoppedSmoking"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="periods-when-you-stopped-smoking">Change<span class="nhsuk-u-visually-hidden"> years stopped</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- What tobacco types -->
      {% if data["whatSmokeNow"] or data["whatDidSmoke"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          {% if data["smokedRegularly"] == "Yes-currently" %}
          Types of tobacco you smoke
          {% else %}
          Types of tobacco you smoked
          {% endif %}
        </dt>
        <dd class="nhsuk-summary-list__value">
          {% set tobaccoTypes = data["whatSmokeNow"] or data["whatDidSmoke"] %}
          {% if tobaccoTypes is iterable and tobaccoTypes is not string %}
          {{ tobaccoTypes | join(", ") }}
          {% else %}
          {{ tobaccoTypes }}
          {% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="what-do-or-did-smoke">Change<span class="nhsuk-u-visually-hidden"> tobacco types</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- CIGARETTES - CURRENT -->
      <!-- ============================================ -->
      {% if data["cigarettesCurrentQuantityDaily"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarettes per day</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarettesCurrentQuantityDaily"] }} cigarettes</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarettes/current/quantity-daily">Change<span class="nhsuk-u-visually-hidden"> cigarettes daily</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarettesCurrentMoreQuantity"] and data["cigarettesCurrentMoreDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarettes - period of more smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarettesCurrentMoreQuantity"] }} cigarettes 
          {% if data["cigarettesCurrentMoreFrequency"] == "Daily" %}a day{% elif data["cigarettesCurrentMoreFrequency"] == "Weekly" %}a week{% elif data["cigarettesCurrentMoreFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarettesCurrentMoreDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarettes/current/more-frequency">Change<span class="nhsuk-u-visually-hidden"> more period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarettesCurrentLessQuantity"] and data["cigarettesCurrentLessDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarettes - period of less smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarettesCurrentLessQuantity"] }} cigarettes 
          {% if data["cigarettesCurrentLessFrequency"] == "Daily" %}a day{% elif data["cigarettesCurrentLessFrequency"] == "Weekly" %}a week{% elif data["cigarettesCurrentLessFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarettesCurrentLessDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarettes/current/less-frequency">Change<span class="nhsuk-u-visually-hidden"> less period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarettesCurrentStoppedYears"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarettes - stopped smoking for</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarettesCurrentStoppedYears"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarettes/current/stopped-years">Change<span class="nhsuk-u-visually-hidden"> stopped years</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- CIGARETTES - FORMER -->
      <!-- ============================================ -->
      {% if data["cigarettesFormerQuantityDaily"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarettes per day</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarettesFormerQuantityDaily"] }} cigarettes</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarettes/former/quantity-daily">Change<span class="nhsuk-u-visually-hidden"> cigarettes daily</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarettesFormerMoreQuantity"] and data["cigarettesFormerMoreDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarettes - period of more smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarettesFormerMoreQuantity"] }} cigarettes 
          {% if data["cigarettesFormerMoreFrequency"] == "Daily" %}a day{% elif data["cigarettesFormerMoreFrequency"] == "Weekly" %}a week{% elif data["cigarettesFormerMoreFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarettesFormerMoreDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarettes/former/more-frequency">Change<span class="nhsuk-u-visually-hidden"> more period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarettesFormerLessQuantity"] and data["cigarettesFormerLessDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarettes - period of less smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarettesFormerLessQuantity"] }} cigarettes 
          {% if data["cigarettesFormerLessFrequency"] == "Daily" %}a day{% elif data["cigarettesFormerLessFrequency"] == "Weekly" %}a week{% elif data["cigarettesFormerLessFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarettesFormerLessDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarettes/former/less-frequency">Change<span class="nhsuk-u-visually-hidden"> less period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarettesFormerStoppedYears"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarettes - stopped smoking for</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarettesFormerStoppedYears"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarettes/former/stopped-years">Change<span class="nhsuk-u-visually-hidden"> stopped years</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- ROLLED CIGARETTES - CURRENT -->
      <!-- ============================================ -->
      {% if data["rolledCigarettesCurrentQuantityDaily"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Rolled cigarettes per day</dt>
        <dd class="nhsuk-summary-list__value">{{ data["rolledCigarettesCurrentQuantityDaily"] }} rolled cigarettes</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/rolled-cigarettes/current/quantity-daily">Change<span class="nhsuk-u-visually-hidden"> rolled cigarettes daily</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["rolledCigarettesCurrentMoreQuantity"] and data["rolledCigarettesCurrentMoreDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Rolled cigarettes - period of more smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["rolledCigarettesCurrentMoreQuantity"] }} rolled cigarettes 
          {% if data["rolledCigarettesCurrentMoreFrequency"] == "Daily" %}a day{% elif data["rolledCigarettesCurrentMoreFrequency"] == "Weekly" %}a week{% elif data["rolledCigarettesCurrentMoreFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["rolledCigarettesCurrentMoreDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/rolled-cigarettes/current/more-frequency">Change<span class="nhsuk-u-visually-hidden"> more period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["rolledCigarettesCurrentLessQuantity"] and data["rolledCigarettesCurrentLessDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Rolled cigarettes - period of less smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["rolledCigarettesCurrentLessQuantity"] }} rolled cigarettes 
          {% if data["rolledCigarettesCurrentLessFrequency"] == "Daily" %}a day{% elif data["rolledCigarettesCurrentLessFrequency"] == "Weekly" %}a week{% elif data["rolledCigarettesCurrentLessFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["rolledCigarettesCurrentLessDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/rolled-cigarettes/current/less-frequency">Change<span class="nhsuk-u-visually-hidden"> less period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["rolledCigarettesCurrentStoppedYears"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Rolled cigarettes - stopped smoking for</dt>
        <dd class="nhsuk-summary-list__value">{{ data["rolledCigarettesCurrentStoppedYears"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/rolled-cigarettes/current/stopped-years">Change<span class="nhsuk-u-visually-hidden"> stopped years</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- ROLLED CIGARETTES - FORMER -->
      <!-- ============================================ -->
      {% if data["rolledCigarettesFormerQuantityDaily"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Rolled cigarettes per day</dt>
        <dd class="nhsuk-summary-list__value">{{ data["rolledCigarettesFormerQuantityDaily"] }} rolled cigarettes</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/rolled-cigarettes/former/quantity-daily">Change<span class="nhsuk-u-visually-hidden"> rolled cigarettes daily</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["rolledCigarettesFormerMoreQuantity"] and data["rolledCigarettesFormerMoreDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Rolled cigarettes - period of more smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["rolledCigarettesFormerMoreQuantity"] }} rolled cigarettes 
          {% if data["rolledCigarettesFormerMoreFrequency"] == "Daily" %}a day{% elif data["rolledCigarettesFormerMoreFrequency"] == "Weekly" %}a week{% elif data["rolledCigarettesFormerMoreFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["rolledCigarettesFormerMoreDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/rolled-cigarettes/former/more-frequency">Change<span class="nhsuk-u-visually-hidden"> more period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["rolledCigarettesFormerLessQuantity"] and data["rolledCigarettesFormerLessDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Rolled cigarettes - period of less smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["rolledCigarettesFormerLessQuantity"] }} rolled cigarettes 
          {% if data["rolledCigarettesFormerLessFrequency"] == "Daily" %}a day{% elif data["rolledCigarettesFormerLessFrequency"] == "Weekly" %}a week{% elif data["rolledCigarettesFormerLessFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["rolledCigarettesFormerLessDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/rolled-cigarettes/former/less-frequency">Change<span class="nhsuk-u-visually-hidden"> less period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["rolledCigarettesFormerStoppedYears"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Rolled cigarettes - stopped smoking for</dt>
        <dd class="nhsuk-summary-list__value">{{ data["rolledCigarettesFormerStoppedYears"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/rolled-cigarettes/former/stopped-years">Change<span class="nhsuk-u-visually-hidden"> stopped years</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- PIPE - CURRENT -->
      <!-- ============================================ -->
      {% if data["pipeCurrentQuantityDaily"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Pipe - bowls per day</dt>
        <dd class="nhsuk-summary-list__value">{{ data["pipeCurrentQuantityDaily"] }} bowls</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/pipe/current/quantity-daily">Change<span class="nhsuk-u-visually-hidden"> pipe daily</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["pipeCurrentMoreQuantity"] and data["pipeCurrentMoreDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Pipe - period of more smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["pipeCurrentMoreQuantity"] }} bowls 
          {% if data["pipeCurrentMoreFrequency"] == "Daily" %}a day{% elif data["pipeCurrentMoreFrequency"] == "Weekly" %}a week{% elif data["pipeCurrentMoreFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["pipeCurrentMoreDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/pipe/current/more-frequency">Change<span class="nhsuk-u-visually-hidden"> more period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["pipeCurrentLessQuantity"] and data["pipeCurrentLessDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Pipe - period of less smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["pipeCurrentLessQuantity"] }} bowls 
          {% if data["pipeCurrentLessFrequency"] == "Daily" %}a day{% elif data["pipeCurrentLessFrequency"] == "Weekly" %}a week{% elif data["pipeCurrentLessFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["pipeCurrentLessDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/pipe/current/less-frequency">Change<span class="nhsuk-u-visually-hidden"> less period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["pipeCurrentStoppedYears"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Pipe - stopped smoking for</dt>
        <dd class="nhsuk-summary-list__value">{{ data["pipeCurrentStoppedYears"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/pipe/current/stopped-years">Change<span class="nhsuk-u-visually-hidden"> stopped years</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- PIPE - FORMER -->
      <!-- ============================================ -->
      {% if data["pipeFormerQuantityDaily"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Pipe - bowls per day</dt>
        <dd class="nhsuk-summary-list__value">{{ data["pipeFormerQuantityDaily"] }} bowls</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/pipe/former/quantity-daily">Change<span class="nhsuk-u-visually-hidden"> pipe daily</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["pipeFormerMoreQuantity"] and data["pipeFormerMoreDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Pipe - period of more smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["pipeFormerMoreQuantity"] }} bowls 
          {% if data["pipeFormerMoreFrequency"] == "Daily" %}a day{% elif data["pipeFormerMoreFrequency"] == "Weekly" %}a week{% elif data["pipeFormerMoreFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["pipeFormerMoreDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/pipe/former/more-frequency">Change<span class="nhsuk-u-visually-hidden"> more period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["pipeFormerLessQuantity"] and data["pipeFormerLessDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Pipe - period of less smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["pipeFormerLessQuantity"] }} bowls 
          {% if data["pipeFormerLessFrequency"] == "Daily" %}a day{% elif data["pipeFormerLessFrequency"] == "Weekly" %}a week{% elif data["pipeFormerLessFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["pipeFormerLessDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/pipe/former/less-frequency">Change<span class="nhsuk-u-visually-hidden"> less period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["pipeFormerStoppedYears"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Pipe - stopped smoking for</dt>
        <dd class="nhsuk-summary-list__value">{{ data["pipeFormerStoppedYears"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/pipe/former/stopped-years">Change<span class="nhsuk-u-visually-hidden"> stopped years</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- CIGARS - CURRENT -->
      <!-- ============================================ -->
      {% if data["cigarsCurrentQuantityDaily"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigars per day</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarsCurrentQuantityDaily"] }} cigars</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigars/current/quantity-daily">Change<span class="nhsuk-u-visually-hidden"> cigars daily</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarsCurrentMoreQuantity"] and data["cigarsCurrentMoreDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigars - period of more smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarsCurrentMoreQuantity"] }} cigars 
          {% if data["cigarsCurrentMoreFrequency"] == "Daily" %}a day{% elif data["cigarsCurrentMoreFrequency"] == "Weekly" %}a week{% elif data["cigarsCurrentMoreFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarsCurrentMoreDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigars/current/more-frequency">Change<span class="nhsuk-u-visually-hidden"> more period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarsCurrentLessQuantity"] and data["cigarsCurrentLessDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigars - period of less smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarsCurrentLessQuantity"] }} cigars 
          {% if data["cigarsCurrentLessFrequency"] == "Daily" %}a day{% elif data["cigarsCurrentLessFrequency"] == "Weekly" %}a week{% elif data["cigarsCurrentLessFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarsCurrentLessDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigars/current/less-frequency">Change<span class="nhsuk-u-visually-hidden"> less period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarsCurrentStoppedYears"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigars - stopped smoking for</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarsCurrentStoppedYears"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigars/current/stopped-years">Change<span class="nhsuk-u-visually-hidden"> stopped years</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- CIGARS - FORMER -->
      <!-- ============================================ -->
      {% if data["cigarsFormerQuantityDaily"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigars per day</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarsFormerQuantityDaily"] }} cigars</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigars/former/quantity-daily">Change<span class="nhsuk-u-visually-hidden"> cigars daily</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarsFormerMoreQuantity"] and data["cigarsFormerMoreDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigars - period of more smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarsFormerMoreQuantity"] }} cigars 
          {% if data["cigarsFormerMoreFrequency"] == "Daily" %}a day{% elif data["cigarsFormerMoreFrequency"] == "Weekly" %}a week{% elif data["cigarsFormerMoreFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarsFormerMoreDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigars/former/more-frequency">Change<span class="nhsuk-u-visually-hidden"> more period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarsFormerLessQuantity"] and data["cigarsFormerLessDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigars - period of less smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarsFormerLessQuantity"] }} cigars 
          {% if data["cigarsFormerLessFrequency"] == "Daily" %}a day{% elif data["cigarsFormerLessFrequency"] == "Weekly" %}a week{% elif data["cigarsFormerLessFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarsFormerLessDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigars/former/less-frequency">Change<span class="nhsuk-u-visually-hidden"> less period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarsFormerStoppedYears"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigars - stopped smoking for</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarsFormerStoppedYears"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigars/former/stopped-years">Change<span class="nhsuk-u-visually-hidden"> stopped years</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- CIGARILLOS - CURRENT -->
      <!-- ============================================ -->
      {% if data["cigarillosCurrentQuantityDaily"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarillos per day</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarillosCurrentQuantityDaily"] }} cigarillos</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarillos/current/quantity-daily">Change<span class="nhsuk-u-visually-hidden"> cigarillos daily</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarillosCurrentMoreQuantity"] and data["cigarillosCurrentMoreDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarillos - period of more smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarillosCurrentMoreQuantity"] }} cigarillos 
          {% if data["cigarillosCurrentMoreFrequency"] == "Daily" %}a day{% elif data["cigarillosCurrentMoreFrequency"] == "Weekly" %}a week{% elif data["cigarillosCurrentMoreFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarillosCurrentMoreDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarillos/current/more-frequency">Change<span class="nhsuk-u-visually-hidden"> more period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarillosCurrentLessQuantity"] and data["cigarillosCurrentLessDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarillos - period of less smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarillosCurrentLessQuantity"] }} cigarillos 
          {% if data["cigarillosCurrentLessFrequency"] == "Daily" %}a day{% elif data["cigarillosCurrentLessFrequency"] == "Weekly" %}a week{% elif data["cigarillosCurrentLessFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarillosCurrentLessDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarillos/current/less-frequency">Change<span class="nhsuk-u-visually-hidden"> less period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarillosCurrentStoppedYears"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarillos - stopped smoking for</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarillosCurrentStoppedYears"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarillos/current/stopped-years">Change<span class="nhsuk-u-visually-hidden"> stopped years</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- CIGARILLOS - FORMER -->
      <!-- ============================================ -->
      {% if data["cigarillosFormerQuantityDaily"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarillos per day</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarillosFormerQuantityDaily"] }} cigarillos</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarillos/former/quantity-daily">Change<span class="nhsuk-u-visually-hidden"> cigarillos daily</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarillosFormerMoreQuantity"] and data["cigarillosFormerMoreDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarillos - period of more smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarillosFormerMoreQuantity"] }} cigarillos 
          {% if data["cigarillosFormerMoreFrequency"] == "Daily" %}a day{% elif data["cigarillosFormerMoreFrequency"] == "Weekly" %}a week{% elif data["cigarillosFormerMoreFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarillosFormerMoreDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarillos/former/more-frequency">Change<span class="nhsuk-u-visually-hidden"> more period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarillosFormerLessQuantity"] and data["cigarillosFormerLessDuration"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarillos - period of less smoking</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["cigarillosFormerLessQuantity"] }} cigarillos 
          {% if data["cigarillosFormerLessFrequency"] == "Daily" %}a day{% elif data["cigarillosFormerLessFrequency"] == "Weekly" %}a week{% elif data["cigarillosFormerLessFrequency"] == "Monthly" %}a month{% endif %} 
          for {{ data["cigarillosFormerLessDuration"] }} years
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarillos/former/less-frequency">Change<span class="nhsuk-u-visually-hidden"> less period</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["cigarillosFormerStoppedYears"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Cigarillos - stopped smoking for</dt>
        <dd class="nhsuk-summary-list__value">{{ data["cigarillosFormerStoppedYears"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/cigarillos/former/stopped-years">Change<span class="nhsuk-u-visually-hidden"> stopped years</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- SHISHA - CURRENT -->
      <!-- ============================================ -->
      {% if data["shishaCurrentYearsSmoked"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Shisha - years smoked</dt>
        <dd class="nhsuk-summary-list__value">{{ data["shishaCurrentYearsSmoked"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/shisha/current/years-smoked">Change<span class="nhsuk-u-visually-hidden"> shisha years</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["shishaCurrentGroupOrAlone"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Shisha - how you smoke</dt>
        <dd class="nhsuk-summary-list__value">{{ data["shishaCurrentGroupOrAlone"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/shisha/current/group-or-alone">Change<span class="nhsuk-u-visually-hidden"> shisha group or alone</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["shishaCurrentGroupQuantity"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Shisha - group sessions</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["shishaCurrentGroupQuantity"] }} sessions 
          {% if data["shishaCurrentGroupFrequency"] == "Daily" %}a day{% elif data["shishaCurrentGroupFrequency"] == "Weekly" %}a week{% elif data["shishaCurrentGroupFrequency"] == "Monthly" %}a month{% elif data["shishaCurrentGroupFrequency"] == "Yearly" %}a year{% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/shisha/current/group-frequency">Change<span class="nhsuk-u-visually-hidden"> group sessions</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["shishaCurrentAloneQuantity"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Shisha - alone sessions</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["shishaCurrentAloneQuantity"] }} sessions 
          {% if data["shishaCurrentAloneFrequency"] == "Daily" %}a day{% elif data["shishaCurrentAloneFrequency"] == "Weekly" %}a week{% elif data["shishaCurrentAloneFrequency"] == "Monthly" %}a month{% elif data["shishaCurrentAloneFrequency"] == "Yearly" %}a year{% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/shisha/current/alone-frequency">Change<span class="nhsuk-u-visually-hidden"> alone sessions</span></a>
        </dd>
      </div>
      {% endif %}

      <!-- ============================================ -->
      <!-- SHISHA - FORMER -->
      <!-- ============================================ -->
      {% if data["shishaFormerYearsSmoked"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Shisha - years smoked</dt>
        <dd class="nhsuk-summary-list__value">{{ data["shishaFormerYearsSmoked"] }} years</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/shisha/former/years-smoked">Change<span class="nhsuk-u-visually-hidden"> shisha years</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["shishaFormerGroupOrAlone"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Shisha - how you smoked</dt>
        <dd class="nhsuk-summary-list__value">{{ data["shishaFormerGroupOrAlone"] }}</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/shisha/former/group-or-alone">Change<span class="nhsuk-u-visually-hidden"> shisha group or alone</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["shishaFormerGroupQuantity"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Shisha - group sessions</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["shishaFormerGroupQuantity"] }} sessions 
          {% if data["shishaFormerGroupFrequency"] == "Daily" %}a day{% elif data["shishaFormerGroupFrequency"] == "Weekly" %}a week{% elif data["shishaFormerGroupFrequency"] == "Monthly" %}a month{% elif data["shishaFormerGroupFrequency"] == "Yearly" %}a year{% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/shisha/former/group-frequency">Change<span class="nhsuk-u-visually-hidden"> group sessions</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data["shishaFormerAloneQuantity"] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Shisha - alone sessions</dt>
        <dd class="nhsuk-summary-list__value">
          {{ data["shishaFormerAloneQuantity"] }} sessions 
          {% if data["shishaFormerAloneFrequency"] == "Daily" %}a day{% elif data["shishaFormerAloneFrequency"] == "Weekly" %}a week{% elif data["shishaFormerAloneFrequency"] == "Monthly" %}a month{% elif data["shishaFormerAloneFrequency"] == "Yearly" %}a year{% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="tobacco/shisha/former/alone-frequency">Change<span class="nhsuk-u-visually-hidden"> alone sessions</span></a>
        </dd>
      </div>
      {% endif %}

    </dl>

    <form action="/prototype_v3/results-pilot" method="post" novalidate="true">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        {{buttonText}}
      </button>
    </form>

  </div>
</div>

{% endblock %}