{% extends 'layout.html' %}

{% block pageTitle %}
  Contact us - NHS
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">Contact us</h1>

    <h2 class="nhsuk-heading-m">To complete your lung cancer screening by phone</h2>

    <p class="nhsuk-body">Call us on: <a href="tel:02038351600">020 3835 1600</a></p>

    <p class="nhsuk-body"><strong>Phone lines are open:</strong><br>
    Monday to Friday 8am to 8pm<br>
    Saturdays 8am to 1pm</p>

    <h2 class="nhsuk-heading-m">If you have questions about the online service</h2>

    <p class="nhsuk-body">Contact us by email: <a href="mailto:england.digitallungcancerscreening@nhs.net">england.digitallungcancerscreening@nhs.net</a></p>

  </div>
</div>
{% endblock %}
