{% extends "layout.html" %}
{% from 'radios/macro.njk' import radios %}

{% block pageTitle %}
  If you have ever been diagnosed with cancer - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="relatives-with-cancer" method="post">
      <h1 class="nhsuk-heading-l">If you have ever been diagnosed with cancer</h1>
      <p class="nhsuk-body">If you have ever been diagnosed with any type of cancer it may impact your chances of developing lung cancer.</p>

      {{ radios({
        idPrefix: "diagnosedCancer",
        name: "diagnosedCancer",
        fieldset: {
          legend: {
            text: "Have you ever been diagnosed with cancer?",
            classes: "nhsuk-fieldset__legend--m",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ button({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
