{% extends "layout.html" %}
{% block pageTitle %}
  What is your date of birth? - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back();",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="dateOfBirthAnswer" method="post" novalidate="true">
        {{ dateInput({
          id: "what-is-your-date-of-birth",
          namePrefix: "dateOfBirth",
          fieldset: {
            legend: {
              text: "What is your date of birth?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: "For example, 15 03 1964"
          },
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2",
              value: data["dateOfBirth"]["day"]
            },
            {
              name: "month",
              classes: "nhsuk-input--width-2",
              value: data["dateOfBirth"]["month"]
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4",
              value: data["dateOfBirth"]["year"]
            }
          ]
        }) }}
        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
