{% extends 'layout.html' %}

{% block pageTitle %}
  {% if data.heightErrors %}Error: {% endif %}Enter your height - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if data.heightErrors %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: data.heightErrors.height if data.heightErrors.height else (data.heightErrors.feet if data.heightErrors.feet else data.heightErrors.inches),
              href: "#height-" + ("centimetres" if data.heightUnit != "imperial" else ("feet" if data.heightErrors.feet else "inches"))
            }
          ]
        }) }}
      {% endif %}

      <form action="enter-your-height-answer" method="post">

        <h2>Enter your height</h2>

        <p>An accurate measurement is important.</p>

        <p>You can measure your height at home with a measuring tape. Some pharmacies and gyms have machines to measure your height.</p>

        {% if data.heightUnit == "imperial" %}
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-label--m">
              What is your height?
            </legend>
            {% if data.heightErrors.height %}
              <span class="nhsuk-error-message" id="height-error">
                <span class="nhsuk-u-visually-hidden">Error:</span> {{ data.heightErrors.height }}
              </span>
            {% endif %}
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-quarter">
                <div class="nhsuk-form-group{% if data.heightErrors.feet %} nhsuk-form-group--error{% endif %}">
                  <label class="nhsuk-label" for="height-feet">
                    Feet
                  </label>
                  {% if data.heightErrors.feet %}
                    <span class="nhsuk-error-message" id="height-feet-error">
                      <span class="nhsuk-u-visually-hidden">Error:</span> {{ data.heightErrors.feet }}
                    </span>
                  {% endif %}
                  <div class="nhsuk-input__wrapper">
                    <input class="nhsuk-input nhsuk-input--width-4{% if data.heightErrors.feet or data.heightErrors.height %} nhsuk-input--error{% endif %}" id="height-feet" name="height[feet]" type="text" value="{{ data.height.feet }}"{% if data.heightErrors.feet %} aria-describedby="height-feet-error"{% endif %}>
                    <div class="nhsuk-input__suffix" aria-hidden="true">ft</div>
                  </div>
                </div>
              </div>
              <div class="nhsuk-grid-column-one-quarter">
                <div class="nhsuk-form-group{% if data.heightErrors.inches %} nhsuk-form-group--error{% endif %}">
                  <label class="nhsuk-label" for="height-inches">
                    Inches
                  </label>
                  {% if data.heightErrors.inches %}
                    <span class="nhsuk-error-message" id="height-inches-error">
                      <span class="nhsuk-u-visually-hidden">Error:</span> {{ data.heightErrors.inches }}
                    </span>
                  {% endif %}
                  <div class="nhsuk-input__wrapper">
                    <input class="nhsuk-input nhsuk-input--width-4{% if data.heightErrors.inches or data.heightErrors.height %} nhsuk-input--error{% endif %}" id="height-inches" name="height[inches]" type="text" value="{{ data.height.inches }}"{% if data.heightErrors.inches %} aria-describedby="height-inches-error"{% endif %}>
                    <div class="nhsuk-input__suffix" aria-hidden="true">in</div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <input type="hidden" name="heightUnit" value="imperial">
          <p><a href="./enter-your-height?heightUnit=metric&height[feet]=&height[inches]=">Switch to centimetres</a></p>
        {% else %}
          <div class="nhsuk-form-group{% if data.heightErrors.height %} nhsuk-form-group--error{% endif %}">
            <label class="nhsuk-label nhsuk-label--m" for="height-centimetres">
              What is your height?
            </label>
            <div class="nhsuk-hint" id="height-hint">
              Centimetres
            </div>
            {% if data.heightErrors.height %}
              <span class="nhsuk-error-message" id="height-error">
                <span class="nhsuk-u-visually-hidden">Error:</span> {{ data.heightErrors.height }}
              </span>
            {% endif %}
            <div class="nhsuk-input__wrapper">
              <input class="nhsuk-input nhsuk-input--width-4{% if data.heightErrors.height %} nhsuk-input--error{% endif %}" id="height-centimetres" name="height[centimetres]" type="text" value="{{ data.height.centimetres }}" aria-describedby="height-hint{% if data.heightErrors.height %} height-error{% endif %}">
              <div class="nhsuk-input__suffix" aria-hidden="true">cm</div>
            </div>
          </div>
          <input type="hidden" name="heightUnit" value="metric">
          <p><a href="./enter-your-height?heightUnit=imperial&height[centimetres]=">Switch to feet and inches</a></p>
        {% endif %}

        {{ button({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}