{% extends 'layout.html' %}
{% set pageHeading = "When you quit smoking" %}
{% block beforeContent %}
{{ backLink({
 href: "javascript:history.back();",
 text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="former-smoker-when-quit-smoking-answer" method="post" novalidate="true">
<h2>{{pageHeading}}</h2>
<p>If you stopped smoking more than once, tell us your age when you last quit smoking.</p>
<p>The question on the next page will ask if you ever stopped smoking for periods of 1 year or longer before you quit. </p>

{{ input({
  label: {
    text: "How old were you when you quit smoking?",
    classes: "nhsuk-label--m"
  },
  hint: { text: "Give an estimate if you are not sure" },
  prefix: { text: "Age" },
  id: "age-stopped-smoking",
  name: "ageStoppedSmoking",
  classes: "nhsuk-input--width-2",
  value: data.ageStoppedSmoking
}) }}

{{ button({
text: "Continue"
}) }}
</form>
</div>
</div>
{% endblock %}