{% extends 'layout.html' %}
{% set pageHeading = "When you quit smoking" %}
{% block beforeContent %}
{{ backLink({
 href: "javascript:history.back();",
 text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="former-smoker-when-quit-smoking-answer" method="post" novalidate="true">
<h2>{{pageHeading}}</h2>
<p>If you stopped smoking more than once, tell us your age when you last quit smoking.</p>
<p>The question on the next page will ask if you ever stopped smoking for periods of 1 year or longer before you quit. </p>

<div class="nhsuk-form-group">
  <label class="nhsuk-label nhsuk-label--m" for="age-stopped-smoking">
    How old were you when you quit smoking?
  </label>
  <p>Give an estimate if you are not sure</p>
  <div class="nhsuk-input__wrapper">
    <div class="nhsuk-input__prefix" aria-hidden="true">Age</div>
    <input class="nhsuk-input nhsuk-input--width-2" id="age-stopped-smoking" name="ageStoppedSmoking" type="text" spellcheck="false">
  </div>
</div>

{{ button({
text: "Continue"
}) }}
</form>
</div>
</div>
{% endblock %}