{% extends 'layout.html' %}
{% block pageTitle %}
  Help us give you an accurate result by telling us about your education - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

<h1>Help us give you an accurate result by telling us about your education</h1>

<p>Education is linked to other factors that may impact your chances of developing lung cancer.</p>

<p>You do not have to tell us about your education but this may affect the accuracy of your result.</p>

<p>If you did not study in England choose the closest equivalent.</p>

<form action="diagnosed-pneumonia-emphysema" method="post">
  {{ checkboxes({
    idPrefix: "educationCompleted",
    name: "educationCompleted",
    fieldset: {
      legend: {
        text: "What level of education have you completed?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        value: "I finished school before the age of 15",
        text: "I finished school before the age of 15"
      },
      {
        value: "GCSEs",
        text: "GCSEs",
        hint: {
          text: "Previously O-levels"
        }
      },
      {
        value: "A-levels",
        text: "A-levels",
        hint: {
          text: "Previously Higher School Certificate (HSC)"
        }
      },
      {
        value: "Further education",
        text: "Further education",
        hint: {
          text: "For example, apprenticeships or Higher National Certificates (HNC)"
        }
      },
      {
        value: "Bachelor's degree",
        text: "Bachelor's degree",
        hint: {
          text: "A university degree, also known as an undergraduate degree"
        }
      },
      {
        value: "Postgraduate degree",
        text: "Postgraduate degree",
        hint: {
          text: "For example a Masters or PhD"
        }
      },
      {
        divider: "or"
      },
      {
        value: "Prefer not to say",
        text: "Prefer not to say"
      }
    ]
  }) }}
  
  {{ button({
    text: "Continue"
  }) }}
</form>

</div>
</div>
{% endblock %}