{% extends 'layout.html' %}

{% set pageHeading = "Periods when you stopped smoking" %}
{% set buttonText = "Continue" %}

{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back();",
  text: "Go back"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2>Periods when you stopped smoking</h2>

    {% if data["smokedRegularly"] == "Yes-currently" %}
    <p class="nhsuk-body">There may have been periods when you stopped or quit smoking.</p>
    {% elif data["smokedRegularly"] == "Yes-usedToRegularly" %}
    <p class="nhsuk-body">There may have been periods when you stopped smoking before you quit for the last time.</p>
    {% endif %}

    <p class="nhsuk-body">If you stopped smoking for periods of 1 year or longer, tell us the total number of years you stopped smoking.</p>

    <form action="/prototype_v3/periods-when-you-stopped-smoking-answer" method="post" novalidate="true">

      {% if data["smokedRegularly"] == "Yes-currently" %}
        {% set legendText = "Have you ever stopped smoking for periods of 1 year or longer?" %}
      {% elif data["smokedRegularly"] == "Yes-usedToRegularly" %}
        {% set legendText = "Did you ever stop smoking for periods of 1 year or longer?" %}
      {% endif %}

      {{ radios({
        "idPrefix": "stoppedSmokingPeriods",
        "name": "stoppedSmokingPeriods",
        "fieldset": {
          "legend": {
            "text": legendText,
            "classes": "nhsuk-fieldset__legend--m"
          }
        },
        "items": [
          {
            "value": "Yes",
            "text": "Yes",
            "conditional": {
              "html": '<label class="nhsuk-label" for="totalYearsStoppedSmoking">Enter the total number of years you stopped smoking</label><p class="nhsuk-hint">Give an estimate if you are not sure</p><div class="nhsuk-input__wrapper"><input class="nhsuk-input nhsuk-input--width-4" id="totalYearsStoppedSmoking" name="totalYearsStoppedSmoking" type="number" value="' + data['totalYearsStoppedSmoking'] + '"><span class="nhsuk-input__suffix" aria-hidden="true">years</span></div>'
            }
          },
          {
            "value": "No",
            "text": "No"
          }
        ]
      }) }}

      {{ button({
        "text": buttonText
      }) }}

    </form>

  </div>
</div>

{% endblock %}
