{% extends 'layout.html' %}
{% block pageTitle %}
  If your relatives were under 60 when they were diagnosed - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<h1 class="nhsuk-heading-l">If your relatives were under 60 when they were diagnosed</h1>

<p class="nhsuk-body">We ask about their age when they were diagnosed with lung cancer because it may impact your chances of developing lung cancer.</p>

<p class="nhsuk-body">If you do not know or cannot remember, select 'I do not know'.</p>

<form action="relatives-age-answer" method="post">
        {{ radios({
          idPrefix: "relativeAge",
          name: "relativeAge",
          fieldset: {
            legend: {
              text: "Were any of your relatives younger than 60 years old when they were diagnosed with lung cancer?",
              classes: "nhsuk-fieldset__legend--m",
              isPageHeading: false
            }
          },
          value: data.relativeAge,
          items: [
            {
              value: "Yes",
              text: "Yes, they were younger than 60"
            },
            {
              value: "No",
              text: "No, they were 60 or older"
            },
            {
              value: "I do not know",
              text: "I do not know"
            }
          ]
        }) }}
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}
