{% extends 'layout.html' %}
{% from 'radios/macro.njk' import radios %}

{% block pageTitle %}
  If your parents, siblings or children have ever been diagnosed with lung cancer - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>If your parents, siblings or children have ever been diagnosed with lung cancer</h2>

    <p>If any of your parents, siblings or children have ever been diagnosed with lung cancer it may impact your chances of developing lung cancer.</p>

    <p>This question is about lung cancer rather than any other type of cancer. It does not include your grandparents or grandchildren.</p>

    <form action="relatives-with-cancer-answer" method="post">
      
      {{ radios({
        idPrefix: "relativesHaveCancer",
        name: "relativesHaveCancer",
        fieldset: {
          legend: {
            text: "Have any of your parents, siblings or children ever been diagnosed with lung cancer?",
            classes: "nhsuk-fieldset__legend--m",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          },
          {
            value: "I don't know",
            text: "I do not know"
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}