{% extends "layout.html" %}

{% block pageTitle %}
  Sorry, you cannot test the online service - NHS
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Sorry, you cannot test the online service</h1>

      <p class="nhsuk-body">To test the online service, we need to confirm who you are. To do this, you need to agree to let NHS login share your information with us.</p>

      <p class="nhsuk-body">If you do not agree to share your NHS login information, you should complete your NHS lung cancer screening by phone.</p>

      <p class="nhsuk-body">Call us on <a href="tel:02012341234" class="nhsuk-link">020 1234 1234</a></p>

      <p class="nhsuk-body"><strong>Phone lines are open:</strong></p>

      <p class="nhsuk-body">Monday to Friday 8am to 8pm</p>

      <p class="nhsuk-body">Saturdays 8am to 1pm</p>

      {{ button({
        text: "Back to start page",
        href: "/prototype_v3/start-page"
      }) }}

    </div>
  </div>
{% endblock %}
