{% extends 'layout.html' %}
{% block pageTitle %}
  Help us test a new online service - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

<h1>Help us test a new online service</h1>

<p>We are testing a new online questionnaire for lung cancer screening. This service will ask you some questions about your medical history and lifestyle.</p>

<p>This online service cannot currently recommend if you need a lung scan. Once you have completed the online service you will need to call us to repeat the questionnaire by phone.</p>

<p>As a thank you for testing the online service, we will offer you a £10 voucher once you have completed both the online service and your phone appointment.</p>

<h2 class="nhsuk-heading-m">The benefits of lung cancer screening</h2>

<p>Your risk of lung cancer increases as you get older. Screening aims to find lung cancer early, sometimes before you have symptoms. Early diagnosis can make lung cancer more treatable and make treatment more successful.</p>

<p>You are eligible for lung cancer screening if you are:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>aged between 55 and 74</li>
  <li>registered with a GP surgery</li>
  <li>someone who smokes or used to smoke</li>
</ul>

<h2 class="nhsuk-heading-m">What to expect in the online service</h2>

<p>We will ask you questions about:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>your height and weight</li>
  <li>your ethnicity</li>
  <li>your education</li>
  <li>if you have ever had a cancer diagnosis</li>
  <li>if your parents, siblings, or children have ever had a lung cancer diagnosis</li>
  <li>your smoking habits</li>
</ul>

<p>Once you have submitted your answers you will need to call us to complete the questionnaire by phone.</p>

{{ button({
  text: "Start now",
  href: "start-journey"
}) }}

<h2 class="nhsuk-heading-m">If you do not want to test the online service</h2>

<p>You should call us on <a href="tel:02075554444">0207 555 444</a> to complete the questionnaire by phone.</p>

</div>
</div>
{% endblock %}