{% extends "layout.html" %}

{% block pageTitle %}
  NHS check if you need a lung scan terms of use - NHS
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">NHS check if you need a lung scan terms of use</h1>

    <p class="nhsuk-body">Version 4, 25 March 2026</p>

    <h2 class="nhsuk-heading-m">1. Introduction</h2>
    <p class="nhsuk-body">1.1. We (NHS England) have developed a digital service called NHS check if you need a lung scan. This is a digital way to access <a href="#" class="nhsuk-link">NHS lung cancer screening</a>. This service is currently in pilot so is only available in certain areas and if your GP surgery is participating in the pilot.</p>
    <p class="nhsuk-body">1.2. This service will not provide you with any results or information in relation to the lung cancer screening, you will need to complete your lung cancer screening by phone to receive a result.</p>
    <p class="nhsuk-body">1.3. To find out more about who we are and our role, visit the <a href="#" class="nhsuk-link">NHS England website</a>.</p>
    <p class="nhsuk-body">1.4. Contacting us: if you have any questions about the service, contact us by email: <a href="mailto:england.digitallungcancerscreening@nhs.net" class="nhsuk-link">england.digitallungcancerscreening@nhs.net</a></p>

    <h2 class="nhsuk-heading-m">2. When these terms apply</h2>
    <p class="nhsuk-body">2.1. Please read these terms of use and our <a href="#" class="nhsuk-link">privacy policy</a>, <a href="#" class="nhsuk-link">cookies policy</a> and <a href="#" class="nhsuk-link">accessibility statement</a>. By continuing to use the NHS check if you need a lung scan, you agree to be bound by these terms.</p>

    <h2 class="nhsuk-heading-m">3. How to use the NHS check if you need 2 lung scan</h3>
    <p class="nhsuk-body">3.1. To use NHS check if you need a lung scan, your GP must be participating in the pilot. Your GP will send you a letter and an SMS with a link to access the NHS check if you need a lung scan pilot service in a web browser.</p>
    <p class="nhsuk-body">3.2. To use the NHS check if you need a lung scan you need an NHS Login account with a medium level of identity verification. If you do not have an account or a medium level of identity verification, you will be able to set this up as part of your application. <a href="#" class="nhsuk-link">Find out more about NHS login</a>.</p>
    <p class="nhsuk-body">3.3. You are responsible for making all arrangements necessary for you to access the NHS check if you need a lung scan, including but not limited to:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>a secure internet connection (see <a href="#" class="nhsuk-link">Cyber Aware website</a>)</li>
      <li>an appropriate device, operating system and browser</li>
      <li>using your own virus protection software (and regularly updating it) when accessing and using the NHS check if you need a lung scan</li>
    </ul>

    <h2 class="nhsuk-heading-m">4. Details about the NHS check if you nee2 a lung scan</h3>
    <p class="nhsuk-body">4.1. If you download, print or export any of your submitted information, you are responsible for ensuring that this is held securely, and we will not be liable for any associated disclosure of sensitive and personal data.</p>
    <p class="nhsuk-body">4.2. The NHS check if you need a lung scan:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>is not a substitute for seeking medical advice - always follow any medical advice given by your healthcare professionals</li>
      <li>does not provide medical or clinical diagnostic services</li>
      <li>does not arrange or guarantee further healthcare treatment. You remain responsible for booking further healthcare treatment via the phone service as directed by your GP.</li>
    </ul>

    <h2 class="nhsuk-heading-m">5. Ending your use of the NHS check if yo2 need a lung scan</h3>
    <p class="nhsuk-body">5.1. You may stop using the NHS check if you need a lung scan at any time. If you fail to complete your NHS check if you need a lung scan within a set period of time your data will automatically be deleted. More information on how long your information is kept is in the <a href="#" class="nhsuk-link">privacy policy</a>.</p>

    <h2 class="nhsuk-heading-m">6. Your right to use the NHS check if yo2 need a lung scan</h3>
    <p class="nhsuk-body">6.1. We own or have the right to use all intellectual property rights used for the provision of the NHS check if you need a lung scan, including rights in copyright, patents, database rights, trademarks and other intellectual property rights, ("NHS IPR").</p>
    <p class="nhsuk-body">6.2. Unless permitted by law or under these terms, you will:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>not copy the NHS check if you need a lung scan or any NHS IPR, except where such copying is incidental to normal use</li>
      <li>not rent, lease, sub-license, loan, translate, merge, adapt or modify the NHS check if you need a lung scan or any NHS IPR</li>
      <li>not combine or incorporate the NHS check if you need a lung scan in any other programmes or services</li>
      <li>not disassemble, decompile, reverse-engineer or create derivative works based on the whole or any part of the NHS check if you need a lung scan or other NHS IPR</li>
      <li>comply with all technology control or export laws that apply to the technology used by the NHS check if you need a lung scan or any other NHS IPR</li>
    </ul>

    <h2 class="nhsuk-heading-m">7. Prohibited uses</h2>
    <p class="nhsuk-body">7.1. You may not use the NHS check if you need a lung scan:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>to collect any data or attempt to decipher any transmissions to or from our servers</li>
      <li>in a way that could damage, disable, overburden, impair or compromise our systems or security</li>
      <li>to transmit any material that is insulting or offensive</li>
      <li>in a way that interferes with other users</li>
      <li>in any unlawful manner or for any unlawful purpose</li>
      <li>in a manner that is improper use or inconsistent with these terms</li>
      <li>to act fraudulently or maliciously by seeking to access or add data to another patient's GP record</li>
      <li>to transmit, send or upload any data that contains viruses, Trojan horses, worms, spyware or any other harmful programs designed to adversely affect the operation of computer software or hardware</li>
      <li>in connection with any kind of denial of service attack</li>
      <li>on any device or operating system that has been modified outside the mobile device or operating system vendor supported or warranted configurations. This includes devices that have been "jail-broken" or "rooted"</li>
      <li>with someone else's NHS login account</li>
    </ul>
    <p class="nhsuk-body">7.2. If you do any of the above acts you may also be committing a criminal offence, and we will report any such activity to the relevant law enforcement authorities. We will co-operate with those authorities by disclosing your identity to them.</p>

    <h2 class="nhsuk-heading-m">8. Our liability to you</h2>
    <p class="nhsuk-body">8.1. Although we make reasonable efforts to provide, maintain and update the NHS check if you need a lung scan it is provided "as is" and, to the extent permitted by law, we make no representations, warranties or guarantees, whether express or implied (including but not limited to the implied warranties of satisfactory quality and fitness for a particular purpose), that the NHS check if you need a lung scan:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>is accurate, complete or up-to-date</li>
      <li>will meet your particular requirements or needs</li>
      <li>will always be available, error free, uninterrupted or free of viruses</li>
    </ul>
    <p class="nhsuk-body">8.2. We are not responsible for external links to or from the NHS check if you need a lung scan and cannot guarantee these will always work.</p>
    <p class="nhsuk-body">8.3. Nothing in these terms excludes or limits our liability for:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>death or personal injury arising from our negligence</li>
      <li>fraud or fraudulent misrepresentation</li>
      <li>any loss or damage to a device or digital content belonging to you, if you can show that a) this was caused by NHS check if you need a lung scan and b) we failed use to use reasonable skill and care to prevent this</li>
      <li>any other liability that cannot be excluded or limited under English law</li>
    </ul>
    <p class="nhsuk-body">8.4. Subject to clause 8.3 of these terms, we will not be liable or responsible to you or any other person for:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>any harm, loss or damage suffered where this is not caused by i) our negligence or ii) our breach of these terms</li>
      <li>any loss or damage arising from an inability to access or use the NHS check if you need a lung scan in whole or in part</li>
      <li>any business loss (including but not limited to loss of profits, revenue, contracts, anticipated savings, data, goodwill or wasted expenditure)</li>
      <li>any indirect or consequential losses that were not foreseeable to both you and us when you commenced using the NHS check if you need a lung scan (loss or damage is "foreseeable" if it was an obvious consequence of our breach or if it was recognised by you and us at the time we entered into the contract created by your use of the NHS check if you need a lung scan)</li>
    </ul>
    <p class="nhsuk-body">8.5. This clause 8 does not affect any legal rights you may have as a consumer in relation to defective services or software. Advice about your legal rights is available from your local Citizen's Advice or Trading Standards Office.</p>

    <h2 class="nhsuk-heading-m">9. General</h2>
    <p class="nhsuk-body">9.1. These terms, any instructions in the service, and any other terms or policies referenced, set out the entire agreement between you and us in respect of your use of the NHS check if you need a lung scan.</p>
    <p class="nhsuk-body">9.2. These terms do not give any rights to any third party to enforce any of these terms.</p>
    <p class="nhsuk-body">9.3. Each of the clauses and sub-clauses of these terms operates separately. If any part is determined to be invalid or unenforceable it will be superseded by a valid and enforceable provision that most closely matches the intent of the original and all other terms shall continue in effect.</p>
    <p class="nhsuk-body">9.4. Even if we delay in enforcing these terms, we can still enforce them later.</p>
    <p class="nhsuk-body">9.5. The laws of England shall apply exclusively to these terms and all matters relating to use of the NHS check if you need a lung scan, and any dispute shall be subject to the exclusive jurisdiction of the courts of England.</p>

  </div>
</div>
{% endblock %}
