{% extends 'layout.html' %}
{% block pageTitle %}
  Your ethnic background - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

<h1>Your ethnic background</h1>

<p>This is a test of the online service. In the future, we will use this information to give you an accurate result.</p>

<p>Your ethnicity may impact your chances of developing lung cancer.</p>

<form action="highest-level-completed-education" method="post">
  {{ radios({
    idPrefix: "ethnicBackground",
    name: "ethnicBackground",
    fieldset: {
      legend: {
        text: "What is your ethnic background?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    value: data.ethnicBackground,
    items: [
      {
        value: "Asian or Asian British",
        text: "Asian or Asian British"
      },
      {
        value: "Black, African, Caribbean or Black British",
        text: "Black, African, Caribbean or Black British"
      },
      {
        value: "Mixed or multiple ethnic groups",
        text: "Mixed or multiple ethnic groups"
      },
      {
        value: "White",
        text: "White"
      },
      {
        value: "Other ethnic group",
        text: "Other ethnic group"
      },
      {
        divider: "or"
      },
      {
        value: "Prefer not to say",
        text: "Prefer not to say"
      }
    ]
  }) }}
  
  {{ button({
    text: "Continue"
  }) }}
</form>

</div>
</div>
{% endblock %}