{% extends 'layout.html' %}

{% block pageTitle %}
  The type of tobacco you smoke or smoked - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">The type of tobacco you smoke or used to smoke</h1>

    <p>Smoking affects your health in different ways depending on what you smoke.</p>

    <p>We need to know what you smoke, or used to smoke, on a regular basis. For example, if you have smoked a pipe on a weekly basis for a year or longer.</p>

    <p>You do not need to tell us about less frequent forms of smoking. For example, a cigar on special occasions.</p>

    <form action="/prototype_v3/what-do-or-did-smoke-answer" method="post">

      {{ checkboxes({
        idPrefix: "tobaccoTypes",
        name: "tobaccoTypes",
        fieldset: {
          legend: {
            text: "What do you or have you smoked?",
            classes: "nhsuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "Cigarettes",
            text: "Cigarettes",
            checked: checked("tobaccoTypes", "Cigarettes")
          },
          {
            value: "Rolled cigarettes",
            text: "Rolled cigarettes, or roll-ups",
            checked: checked("tobaccoTypes", "Rolled cigarettes")
          },
          {
            value: "Pipe",
            text: "Pipe",
            checked: checked("tobaccoTypes", "Pipe")
          },
          {
            value: "Cigars",
            text: "Cigars",
            checked: checked("tobaccoTypes", "Cigars")
          },
          {
            value: "Cigarillos",
            text: "Cigarillos",
            checked: checked("tobaccoTypes", "Cigarillos")
          },
          {
            value: "Shisha",
            text: "Shisha",
            checked: checked("tobaccoTypes", "Shisha")
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}