{% extends 'layout.html' %}

{% block pageTitle %}
  Your sex at birth - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">Your sex at birth</h1>

    <p class="nhsuk-body">Your sex may impact your chances of developing lung cancer.</p>

    <form action="your-ethnic-background" method="post">
      {{ radios({
        idPrefix: "whatIsYourSex",
        name: "whatIsYourSex",
        fieldset: {
          legend: {
            text: "What was your sex at birth?",
            classes: "nhsuk-fieldset__legend--m"
          }
        },
        value: data.whatIsYourSex,
        items: [
          {
            value: "Female",
            text: "Female"
          },
          {
            value: "Male",
            text: "Male"
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
