{% extends 'layout.html' %}
{% block pageTitle %}
  Your gender identity - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

<h2>Your gender identity</h2>

<p>The answers you submit will not be shared with your patient care advisor during your phone appointment, or with your GP.</p>

<p>In the future we plan to use information about someone's gender identity to help us plan their care in the NHS lung cancer screening programme.</p>

<form action="your-sex-at-birth" method="post">
  {{ radios({
    idPrefix: "bestDescribe",
    name: "bestDescribe",
    fieldset: {
      legend: {
        text: "Which of these best describes you?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    value: data.bestDescribe,
    items: [
      {
        value: "Female",
        text: "Female"
      },
      {
        value: "Male",
        text: "Male"
      },
      {
        value: "Non-binary",
        text: "Non-binary"
      },
      {
        divider: "or"
      },
      {
        value: "Prefer not to say",
        text: "Prefer not to say"
      }
    ]
  }) }}
  
  {{ button({
    text: "Continue"
  }) }}
</form>

</div>
</div>
{% endblock %}