{% extends 'layout.html' %}

{% block pageTitle %}
  Do you want to tell us about another period - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="/prototype_v3/tobacco/rolled-cigarettes/former/another-period-less-answer" method="post">
      
      {{ radios({
        idPrefix: "rolledCigarettesFormerAnotherPeriodLess",
        name: "rolledCigarettesFormerAnotherPeriodLess",
        fieldset: {
          legend: {
            text: "Do you want to tell us about another period where you smoked less rolled cigarettes than you did?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("rolledCigarettesFormerAnotherPeriodLess", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("rolledCigarettesFormerAnotherPeriodLess", "No")
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}