{% extends 'layout.html' %}
{% block pageTitle %}
  Rolled cigarette smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

<h1>Rolled cigarette smoking</h1>

<p>Telling us the number of rolled cigarettes you smoked a day helps us check if you need a lung scan.</p>

<form action="quantity-weekly-answer" method="post">
  {{ input({
    label: {
      text: "Roughly how many rolled cigarettes did you normally smoke a week?",
      classes: "nhsuk-label--m"
    },
    hint: {
      text: "Give an estimate if you are not sure"
    },
    id: "rolledCigarettesFormerQuantityWeekly",
    name: "rolledCigarettesFormerQuantityWeekly",
    classes: "nhsuk-input--width-4",
    suffix: {
      text: "rolled cigarettes"
    },
    value: data.rolledCigarettesFormerQuantityWeekly
  }) }}

  {{ checkboxes({
    idPrefix: "rolledCigarettesFormerChanges",
    name: "rolledCigarettesFormerChanges",
    fieldset: {
      legend: {
        text: "Did the number of rolled cigarettes you smoke change over time?",
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        value: "more",
        text: "Yes, I smoked more rolled cigarettes than my normal amount for a period of 1 year or longer"
      },
      {
        value: "less",
        text: "Yes, I smoked fewer rolled cigarettes than my normal amount for a period of 1 year or longer"
      },
      {
        value: "stopped",
        text: "Yes, I stopped smoking for a period of 1 year or longer"
      },
      {
        divider: "or"
      },
      {
        value: "no-change",
        text: "No, it has not changed"
      }
    ]
  }) }}

  {{ button({
    text: "Continue"
  }) }}
</form>

</div>
</div>
{% endblock %}