{% extends 'layout.html' %}
{% block pageTitle %}
  Rolled cigarette smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/rolled-cigarettes/former/quantity-answer" method="post">

<h1>Rolled cigarette smoking</h1>

        {% set frequencyText = "a day" %}
        {% if data.rolledCigarettesFormerFrequency == "Weekly" %}
          {% set frequencyText = "a week" %}
        {% elif data.rolledCigarettesFormerFrequency == "Monthly" %}
          {% set frequencyText = "a month" %}
        {% endif %}

<p>This is a test of the online service. In the future, we will use this information to give you an accurate result</p>

<p>The question on the next page will ask if the amount of tobacco you smoked changed over time.</p>

        {{ radios({
          fieldset: {
            legend: {
              text: "Roughly how many grams of tobacco did you normally smoke " + frequencyText + "?",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "A standard size pouch usually contains 30g of tobacco, a larger pouch is usually 50g"
          },
          idPrefix: "rolledCigarettesFormerQuantity",
          name: "rolledCigarettesFormerQuantity",
          value: data.rolledCigarettesFormerQuantity,
          items: [
            {
              value: "10g to 30g",
              text: "10g to 30g"
            },
            {
              value: "30g to 50g",
              text: "30g to 50g"
            },
            {
              value: "50g to 75g",
              text: "50g to 75g"
            },
            {
              value: "75g to 100g",
              text: "75g to 100g"
            }
          ]
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}