{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}

{% if data.rolledCigarettesCurrentLessFrequency == "Daily" %}
  {% set frequencyText = "a day" %}
  {% set suffixText = "rolled cigarettes" %}
{% elif data.rolledCigarettesCurrentLessFrequency == "Weekly" %}
  {% set frequencyText = "a week" %}
  {% set suffixText = "rolled cigarettes" %}
{% elif data.rolledCigarettesCurrentLessFrequency == "Monthly" %}
  {% set frequencyText = "a month" %}
  {% set suffixText = "rolled cigarettes" %}
{% endif %}

{% block pageTitle %}
  When you smoked fewer rolled cigarettes - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/rolled-cigarettes/current/less-quantity-answer" method="post">
        
        {{ input({
          label: {
            text: "When you smoked fewer than " + data.rolledCigarettesCurrentQuantityDaily + " rolled cigarettes a day, roughly how many rolled cigarettes did you normally smoke " + frequencyText + "?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "rolledCigarettesCurrentLessQuantity",
          name: "rolledCigarettesCurrentLessQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: suffixText
          },
          value: data.rolledCigarettesCurrentLessQuantity
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}