{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Rolled cigarette smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/rolled-cigarettes/current/less-quantity-answer" method="post">

        {% set baseFrequencyText = "a day" %}
        {% if data.rolledCigarettesCurrentFrequency == "Weekly" %}
          {% set baseFrequencyText = "a week" %}
        {% elif data.rolledCigarettesCurrentFrequency == "Monthly" %}
          {% set baseFrequencyText = "a month" %}
        {% endif %}

        {% set lessFrequencyText = "a day" %}
        {% if data.rolledCigarettesCurrentLessFrequency == "Weekly" %}
          {% set lessFrequencyText = "a week" %}
        {% elif data.rolledCigarettesCurrentLessFrequency == "Monthly" %}
          {% set lessFrequencyText = "a month" %}
        {% endif %}

        <h2 class="nhsuk-heading-l">When you smoked less than {{ data.rolledCigarettesCurrentQuantity }} rolled cigarettes {{ baseFrequencyText }}, roughly how many rolled cigarettes did you smoke {{ lessFrequencyText }}?</h2>

        <p class="nhsuk-hint">Give an estimate if you are not sure</p>

        {{ input({
          label: {
            text: "Rolled cigarettes",
            classes: "nhsuk-u-visually-hidden"
          },
          id: "rolledCigarettesCurrentLessQuantity",
          name: "rolledCigarettesCurrentLessQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "rolled cigarettes"
          },
          value: data.rolledCigarettesCurrentLessQuantity
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}