{% extends 'layout.html' %}
{% from 'radios/macro.njk' import radios %}
{% block pageTitle %}
  When your rolled cigarette smoking increased, how often did you smoke? - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/rolled-cigarettes/current/increased-frequency-answer" method="post">
        {{ radios({
          idPrefix: "rolledCigarettesCurrentIncreasedFrequency",
          name: "rolledCigarettesCurrentIncreasedFrequency",
          fieldset: {
            legend: {
              text: "When your rolled cigarette smoking increased, how often did you smoke?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          value: data.rolledCigarettesCurrentIncreasedFrequency,
          items: [
            {
              value: "Daily",
              text: "Daily"
            },
            {
              value: "Weekly",
              text: "Weekly",
              hint: {
                text: "For example, on the weekend"
              }
            },
            {
              value: "Monthly",
              text: "Monthly"
            }
          ]
        }) }}
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}