{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Cigarillo smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigarillos/current/years-smoked-answer" method="post">

<h1>Cigarillo smoking</h1>

<p>Telling us how long you have smoked cigarillos and how many you smoke helps us check if you need a lung scan.</p>

        {{ input({
          label: {
            text: "Roughly how many years have you smoked cigarillos?",
            classes: "nhsuk-label--m"
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "cigarillosCurrentYearsSmoked",
          name: "cigarillosCurrentYearsSmoked",
          classes: "nhsuk-input--width-2",
          suffix: {
            text: "years"
          },
          value: data.cigarillosCurrentYearsSmoked
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}