{% extends 'layout.html' %}

{% block pageTitle %}
  When you smoked more cigarillos - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="/prototype_v3/tobacco/cigarillos/former/more-quantity-weekly-answer" method="post">
      
      <h1 class="nhsuk-heading-l">When you smoked more than you did, roughly how many cigarillos did you normally smoke a week?</h1>

      {{ input({
        hint: {
          text: "Give an estimate if you are not sure"
        },
        id: "cigarillosFormerMoreQuantityWeekly",
        name: "cigarillosFormerMoreQuantityWeekly",
        classes: "nhsuk-input--width-2",
        suffix: {
          text: "cigarillos"
        },
        value: data.cigarillosFormerMoreQuantityWeekly
      }) }}

      {{ input({
        label: {
          text: "How long was this for?",
          classes: "nhsuk-label--m"
        },
        hint: {
          text: "Give an estimate if you are not sure"
        },
        id: "cigarillosFormerMoreDurationWeekly",
        name: "cigarillosFormerMoreDurationWeekly",
        classes: "nhsuk-input--width-2",
        suffix: {
          text: "years"
        },
        value: data.cigarillosFormerMoreDurationWeekly
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}