{% extends "layout.html" %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Cigarillo smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigarillos/former/more-quantity-answer" method="post">

        {% set baseFrequencyText = "a day" %}
        {% if data.cigarillosFormerFrequency == "Weekly" %}
          {% set baseFrequencyText = "a week" %}
        {% elif data.cigarillosFormerFrequency == "Monthly" %}
          {% set baseFrequencyText = "a month" %}
        {% endif %}

        {% set moreFrequencyText = "a day" %}
        {% if data.cigarillosFormerMoreFrequency == "Weekly" %}
          {% set moreFrequencyText = "a week" %}
        {% elif data.cigarillosFormerMoreFrequency == "Monthly" %}
          {% set moreFrequencyText = "a month" %}
        {% endif %}

        <h2 class="nhsuk-heading-l">When you smoked more than {{ data.cigarillosFormerQuantity }} cigarillos {{ baseFrequencyText }}, roughly how many cigarillos did you normally smoke {{ moreFrequencyText }}?</h2>

        <p class="nhsuk-hint">Give an estimate if you are not sure</p>

        {{ input({
          label: {
            text: "Cigarillos",
            classes: "nhsuk-u-visually-hidden"
          },
          id: "cigarillosFormerMoreQuantity",
          name: "cigarillosFormerMoreQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "cigarillos"
          },
          value: data.cigarillosFormerMoreQuantity
        }) }}

        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}
