{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Cigarillo smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigarillos/former/quantity-daily-answer" method="post">
<h1>Cigarillo smoking</h1>

<p>Telling us the number of cigarillos you smoked a day helps us check if you need a lung scan.</p>

<p>The question on the next page will ask if the number of cigarillos you smoked changed over time.</p>

        {{ input({
          label: {
            text: "Roughly how many cigarillos did you normally smoke a day?",
            classes: "nhsuk-label--m"
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "cigarillosFormerQuantityDaily",
          name: "cigarillosFormerQuantityDaily",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "cigarillos"
          },
          value: data.cigarillosFormerQuantityDaily
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}