{% extends 'layout.html' %}

{% block pageTitle %}
  Roughly how many years did you smoke cigarillos - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigarillos/former/years-smoked-answer" method="post">
<h1 class="nhsuk-heading-l">Roughly how many years did you smoke cigarillos?</h1>
      {{ input({
        hint: {
          text: "Give an estimate if you are not sure"
        },
        id: "cigarillosFormerYearsSmoked",
        name: "cigarillosFormerYearsSmoked",
        classes: "nhsuk-input--width-2",
        suffix: {
          text: "years"
        },
        value: data.cigarillosFormerYearsSmoked
      }) }}
      {{ button({
        text: "Continue"
      }) }}
</form>
</div>
</div>
{% endblock %}