{% extends "layout.html" %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Cigarillo smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/prototype_v3/tobacco/cigarillos/former/years-smoked-answer" method="post">

        {{ input({
          label: {
            text: "Roughly how many years did you smoke cigarillos?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "cigarillosFormerYearsSmoked",
          name: "cigarillosFormerYearsSmoked",
          classes: "nhsuk-input--width-2",
          suffix: {
            text: "years"
          },
          value: data.cigarillosFormerYearsSmoked
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
