{% extends 'layout.html' %}
{% from 'checkboxes/macro.njk' import checkboxes %}
{% block pageTitle %}
  Did the number of full pipe loads you normally smoke change over time? - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/pipe/former/has-quantity-changed-answer" method="post">
        
        {% set frequencyText = "a day" %}
        {% if data.pipeFormerFrequency == "Weekly" %}
          {% set frequencyText = "a week" %}
        {% elif data.pipeFormerFrequency == "Monthly" %}
          {% set frequencyText = "a month" %}
        {% endif %}
        
        {{ checkboxes({
          idPrefix: "pipeFormerChanges",
          name: "pipeFormerChanges",
          fieldset: {
            legend: {
              text: "Did the number of full pipe loads you normally smoke change over time?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "more",
              text: "Yes, I smoked more than " + data.pipeFormerQuantity + " full pipe loads " + frequencyText
            },
            {
              value: "less",
              text: "Yes, I smoked fewer than " + data.pipeFormerQuantity + " full pipe loads " + frequencyText
            },
            {
              divider: "or"
            },
            {
              value: "no-change",
              text: "No, it did not change",
              behaviour: "exclusive"
            }
          ]
        }) }}
        
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}