{% extends "layout.html" %}
{% from 'radios/macro.njk' import radios %}
{% block pageTitle %}
  Pipe smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/prototype_v3/tobacco/pipe/former/more-frequency-answer" method="post">

        {% set frequencyText = "a day" %}
        {% if data.pipeFormerFrequency == "Weekly" %}
          {% set frequencyText = "a week" %}
        {% elif data.pipeFormerFrequency == "Monthly" %}
          {% set frequencyText = "a month" %}
        {% elif data.pipeFormerFrequency == "Yearly" %}
          {% set frequencyText = "a year" %}
        {% endif %}

        <h2 class="nhsuk-heading-l">When you smoked more than {{ data.pipeFormerQuantity }} full pipe loads {{ frequencyText }}, how often did you smoke a pipe?</h2>

        {{ radios({
          idPrefix: "pipeFormerMoreFrequency",
          name: "pipeFormerMoreFrequency",
          value: data.pipeFormerMoreFrequency,
          items: [
            {
              value: "Daily",
              text: "Daily"
            },
            {
              value: "Weekly",
              text: "Weekly",
              hint: {
                text: "For example, on the weekend"
              }
            },
            {
              value: "Monthly",
              text: "Monthly",
              hint: {
                text: "Select this option if you smoked at least once a month"
              }
            },
            {
              value: "Yearly",
              text: "Yearly",
              hint: {
                text: "For example, 2 to 3 times a year or fewer"
              }
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
