{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Pipe smoking - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/pipe/former/quantity-answer" method="post">

<h1>Pipe smoking</h1>

<p>Telling us the number of bowls you smoked a day helps us check if you needed a lung scan.</p>

<p>The question on the next page will ask if the number of bowls you smoked changed over time.</p>

        {% set frequencyText = "on a normal day" %}
        {% if data.pipeFormerFrequency == "Weekly" %}
          {% set frequencyText = "in a normal week" %}
        {% elif data.pipeFormerFrequency == "Monthly" %}
          {% set frequencyText = "in a normal month" %}
        {% endif %}

        {{ input({
          label: {
            text: "Roughly how many bowls did you normally smoke " + frequencyText + "?",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "pipeFormerQuantity",
          name: "pipeFormerQuantity",
          classes: "nhsuk-input--width-3",
          suffix: {
            text: "bowls"
          },
          value: data.pipeFormerQuantity
        }) }}

        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}